body{
    margin: 0;
    padding: 0;
    background: palegoldenrod;
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.container .share{
    position: relative;
    width: 100%;
    height: 100%;
    line-height: 50px;
    text-align: center;
    color: #fff;
    background: gray;
    border-radius: 50%;
    z-index: 1;
    box-shadow: 0 0 0 2px #112833;
}

.container ul{
    position: absolute;
    top: -50PX;
    left: -50PX;
    margin: 0;
    padding: 0;
    width: 150px;
    height: 150px;
    background: #FFF;
    border-radius: 50%;
    transition: .5s;
    box-shadow: 0 0 0 2px #1b3646, 0 0 0 4px #fff;
    transition: 1s;
    transform: scale(.3);
    z-index: -1;
}

.container:hover ul{
    transform: scale(1);
}

.container ul li{

    position: absolute;
    list-style: none;
}

.container ul li:nth-child(1){
    top: 15px;
    left: 50%;
    transform: translateX(-50%)
}

.container ul li:nth-child(2){
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%)
}

.container ul li:nth-child(3){
    top: 50%;
    left: 15px;
    transform: translateY(-50%)
}

.container ul li:nth-child(4){
    top: 50%;
    right: 15px;
    transform: translateY(-50%)
}

.icon{
    color: green;
    transition: .5s;
}

.icon:hover{
    color: purple;
    transform: scale(1.5);
}

.container ul:before{
    content: "";
    position: absolute;
    top: calc(50% - 1px);
    left: 0;
    width: 100%;
    height: 2px;
    background: #112833;
    transform: rotate(45deg);
}

.container ul:after{
    content: "";
    position: absolute;
    top: calc(50% - 1px);
    left: 0;
    width: 100%;
    height: 2px;
    background: #112833;
    transform: rotate(-45deg);
}
